<ul class="sidebar-menu" data-widget="tree">
    <li class="header">HEADER</li>
    <!-- Optionally, you can add icons to the links -->
    <li>
        <a href="/Home">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">

            </span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i> <span>Users</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/users/create">Create New User</a></li>
            <li><a href="/users">Show Lists of user</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-calendar-plus-o"></i> <span>Event</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            @*<li><a href="/events/create">Create New Event</a></li>*@
            <li><a href="/events">Show Lists of Event</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-taxi"></i> <span>Vehicle</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/vehicles">Show Lists of Vehicle</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-empire"></i> <span>Mountain</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/mountains/create">Create New Mountain</a></li>
            <li><a href="/mountains">Show Lists of Mountain</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-car"></i> <span>Ride</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/rides">Show List of Rides</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-pencil"></i> <span>Request</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/requests">Show Lists of Request</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-star"></i> <span>Mountain Reviews</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/mountainReviews">Show Lists of Mountain Reviews</a></li>
        </ul>
    </li>
    <li>
        <a href="/payment">
            <i class="fa fa-paypal"></i> <span>Payment</span>
            <span class="pull-right-container">
            </span>
        </a>
    </li>
    <li>
        <a asp-controller="Account" asp-action="Logout">
            <i class="fa fa-sign-out"></i> <span>Logout</span>
            <span class="pull-right-container">

            </span>
        </a>
    </li>
</ul>