﻿@model Event
<section class="content-header">
    <h1>
        Events
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Event's Details</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="/Mountains/UpdateMountain">
            <div class="box-body">
                <div class="form-group">
                    <label asp-for="Id" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Id" class="form-control" value="@Model.Id" readonly>

                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Name" class="form-control" value="@Model.Name" readonly>

                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Location" class="form-control" value="@Model.Location" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="State" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="State" class="form-control" value="@Model.State" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="OrganizerName" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="OrganizerName" class="form-control" value="@Model.OrganizerName" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="OrganizerRegistrationNumber" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="OrganizerRegistrationNumber" class="form-control" value="@Model.OrganizerRegistrationNumber" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Description" class="form-control" value="@Model.Description" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input class="form-control" value="@Model.StartDate" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input class="form-control" value="@Model.EndDate" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Status" class="form-control" value="@Model.Status" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="UserId" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="UserId" class="form-control" value="@Model.UserId" readonly>
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Mountain.Name" class="col-sm-2 control-label">Mountain Name</label>
                    <div class="col-sm-10">
                        <input asp-for="Mountain.Name" class="form-control" value="@Model.Mountain.Name" readonly>
                    </div>
                </div>
                <input type="hidden" name="Id" value="@Model.Id" />
            </div>
            <!-- /.box-body -->
        </form>
        <div class="box-footer">
            <a type="button" onclick="history.go(-1)" class="btn btn-success">Back</a>
        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">User Joined List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Event Name</th>
                                <th>User Name</th>
                                <th>Is Offer Ride</th>
                                <th>Is Request Ride</th>
                                <th>Max Attempt</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.UserEvents)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td><a href="/Events/Details/@item.Event.Id">@Html.DisplayFor(modelItem => item.Event.Name)</a></td>
                                    <td><a href="/Users/Details/@item.User.Id">@Html.DisplayFor(modelItem => item.User.FirstName)</a></td>
                                    <td>@Html.DisplayFor(modelItem => item.IsOfferRide)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IsRequestRide)</td>
                                    <td>@Html.DisplayFor(modelItem => item.MaxAttempt)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Status)</td>

                                </tr>
                            }
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Ride List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Ride Start Time</th>
                                <th>Destination Latitude</th>
                                <th>Destination Longitude</th>
                                <th>Event Name</th>
                                <th>Total Distance</th>
                                <th>Total Cost</th>
                                <th>Seat Available</th>
                                <th>Status</th>
                                <th>Created At</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Rides)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.RideStartTime)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DestinationLatitude)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DestinationLongitude)</td>
                                    <td><a href="/Events/Details/@item.Event.Id">@Html.DisplayFor(modelItem => item.Event.Name)</a></td>
                                    <td>@Html.DisplayFor(modelItem => item.TotalDistance) KM</td>
                                    <td>RM @Html.DisplayFor(modelItem => item.TotalCost)</td>
                                    <td>@Html.DisplayFor(modelItem => item.SeatAvailable)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                                    <td>
                                        <a class="btn btn-success btn-sm" href="/Rides/Details/@item.Id" data-toggle="tooltip" title="View Rides">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@section Scripts{

    <!-- DataTables -->
    <script src="~/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- page script -->
    <script>
    $(function () {
        $('#example1').DataTable(
            {
            "scrollX": true
        }
        );
        $('#example2').DataTable(
            {
                "scrollX": true
            }
        );
    });

    </script>
}