﻿@model IEnumerable<JomHikeApiV2.Entities.EventExtended>
<section class="content-header">
    <h1>
        Events
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Events</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Manage Events</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Location</th>
                                <th>State</th>
                                <th>Organizer Name</th>
                                <th>Organizer Registration Number</th>
                                <th>Description</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                                <th>User Id</th>
                                <th>Mountain Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Location)</td>
                                <td>@Html.DisplayFor(modelItem => item.State)</td>
                                <td>@Html.DisplayFor(modelItem => item.OrganizerName)</td>
                                <td>@Html.DisplayFor(modelItem => item.OrganizerRegistrationNumber)</td>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>   
                                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                <td><a href="/Users/Details/@item.UserId">@Html.DisplayFor(modelItem => item.UserId)</a></td>
                                <td><a href="/Mountains/Update/@item.Mountain.Id">@Html.DisplayFor(modelItem => item.Mountain.Name)</a></td>
                                @*<td>@Html.DisplayFor(modelItem => item.MountainId)</td>*@
                                <td>
                                    <a class="btn btn-success btn-sm" href="Events/ApproveEvent/@item.Id" data-toggle="tooltip" title="Approve Event">
                                        <i class="fa fa-check"></i>
                                    </a>
                                    |
                                    <a class="btn btn-warning btn-sm" href="Events/RejectEvent/@item.Id" data-toggle="tooltip" title="Reject Event">
                                        <i class="fa fa-close"></i>
                                    </a>
                                    |
                                    @*<a class="btn btn-primary btn-sm" href="Events/Update/@item.Id" data-toggle="tooltip" title="Edit Event">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    |*@
                                    <a href="" class="btn btn-sm btn-danger" onclick="Delete('@item.Id')" data-toggle="tooltip" title="Delete Event">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    |
                                    <a class="btn btn-success btn-sm" href="Events/Details/@item.Id" data-toggle="tooltip" title="View Events">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            }
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


@section Scripts{

    <!-- DataTables -->
    <script src="~/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- page script -->
    <script>
    $(function () {
        $('#example1').DataTable(
            {
            "scrollX": true
        }
        );
    });
    function Delete(id){
        var txt;
        var r = confirm("Are you sure you want to Delete?");
        if (r == true) {

            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Delete", "Events")',
                data: {
                    id: id
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        var baseUrl="/Events";
                        window.location.reload();
                    }
                    else {
                        alert("There is a problem, Try Later!");
                    }
                }
            });
        }
    }
    </script>
}