﻿@model Event
<section class="content-header">
    <h1>
        Doctors
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Update Doctor</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="/Events/UpdateEvent">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="Email" class="form-control" name="Name" value="@Model.Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Location</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Location" placeholder="Location" value="@Model.Location">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Phone</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="State" placeholder="State" value="@Model.State">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Organizer Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="OrganizerName" placeholder="Organizer Name" value="@Model.OrganizerName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Organizer Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="OrganizerRegistrationNumber" placeholder="Organizer Registration Number" value="@Model.OrganizerRegistrationNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Organizer Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Description" placeholder="Description" value="@Model.Description">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Start Date</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="StartDate" placeholder="Start Date" value="@Model.StartDate">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Start Date</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="EndDate" placeholder="End Date" value="@Model.EndDate">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Start Date</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Status" placeholder="Status" value="@Model.Status">
                    </div>
                </div>
                @* TODO: tambah mountain dengan user jadikan date tu dropdown *@
                <input type="hidden" name="Id" value="@Model.Id" />
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a type="button" onclick="history.go(-1)" class="btn btn-success">Back</a>
                <button type="submit" class="btn btn-info pull-right">Update</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>