﻿@model Vehicle
<section class="content-header">
    <h1>
        Requests
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Request's Details</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="/Mountains/UpdateMountain">
            <div class="box-body">
                <div class="form-group">
                    <label asp-for="Id" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Id" class="form-control" value="@Model.Id" readonly>

                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Name" class="form-control" value="@Model.Name" readonly>

                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Brand" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Brand" class="form-control" value="@Model.Brand" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="MakeYear" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="MakeYear" class="form-control" value="@Model.MakeYear" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Color" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Color" class="form-control" value="@Model.Color" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PlateNumber" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="PlateNumber" class="form-control" value="@Model.PlateNumber" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="UserId" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="UserId" class="form-control" value="@Model.UserId" readonly>
                    </div>
                </div>
                <input type="hidden" name="Id" value="@Model.Id" />
            </div>
            <!-- /.box-body -->
        </form>
        <div class="box-footer">
            <a type="button" onclick="history.go(-1)" class="btn btn-success">Back</a>
        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->
</section>