﻿@model IEnumerable<Vehicle>
<section class="content-header">
    <h1>
        Vehicles
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Vehicles</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Manage Vehicles</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Brand</th>
                                <th>Make Year</th>
                                <th>Color</th>
                                <th>Plate Number</th>
                                <th>User Id</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Brand)</td>
                                <td>@Html.DisplayFor(modelItem => item.MakeYear)</td>
                                <td>@Html.DisplayFor(modelItem => item.Color)</td>
                                <td>@Html.DisplayFor(modelItem => item.PlateNumber)</td>
                                <td><a href="Users/Details/@item.UserId">@Html.DisplayFor(modelItem => item.UserId)</a></td>
                                <td>
                                    <a class="btn btn-success btn-sm" href="Vehicles/Details/@item.Id" data-toggle="tooltip" title="View Vehicle">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    |
                                    <a href="" class="btn btn-danger" onclick="Delete('@item.Id')" data-toggle="tooltip" title="Delete vehicles"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            }
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


@section Scripts{

    <!-- DataTables -->
    <script src="~/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- page script -->
    <script>
    $(function () {
        $('#example1').DataTable({"scrollX": true});
    });
    function Delete(id){
        var txt;
        var r = confirm("Are you sure you want to Delete?");
        if (r == true) {

            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Delete", "Vehicles")',
                data: {
                    id: id
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        var baseUrl="/Vehicles";
                        window.location.reload();
                    }
                    else {
                        alert("The vehicle is exist on other ride, if not please check the logs for more details");
                    }
                }
            });
        }
    }
    </script>
}