﻿@model Request
<section class="content-header">
    <h1>
        Requests
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Request's Details</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="/Mountains/UpdateMountain">
            <div class="box-body">
                <div class="form-group">
                    <label asp-for="Id" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Id" class="form-control" value="@Model.Id" readonly>

                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PickupLatitude" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="PickupLatitude" class="form-control" value="@Model.PickupLatitude" readonly>

                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EstimatedCost" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="EstimatedCost" class="form-control" value="@Model.EstimatedCost" readonly>
                        <span asp-validation-for="EstimatedCost" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="TotalDistance" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="TotalDistance" class="form-control" value="@Model.TotalDistance" readonly>
                        <span asp-validation-for="TotalDistance" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="FinalTotalCost" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="FinalTotalCost" class="form-control" value="@Model.FinalTotalCost" readonly>
                        <span asp-validation-for="FinalTotalCost" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="FinalTotalDistance" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="FinalTotalDistance" class="form-control" value="@Model.FinalTotalDistance" readonly>
                        <span asp-validation-for="FinalTotalDistance" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Rating" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Rating" class="form-control" value="@Model.Rating" readonly>
                        <span asp-validation-for="Rating" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedAt" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input class="form-control" value="@Model.CreatedAt" readonly>
                        <span asp-validation-for="CreatedAt" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Status" class="form-control" value="@Model.Status" readonly>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="UserId" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="UserId" class="form-control" value="@Model.UserId" readonly>
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="RideId" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="RideId" class="form-control" value="@Model.RideId" readonly>
                        <span asp-validation-for="RideId" class="text-danger"></span>
                    </div>
                </div>
                <input type="hidden" name="Id" value="@Model.Id" />
            </div>
            <!-- /.box-body -->
        </form>
        <div class="box-footer">
            <a type="button" onclick="history.go(-1)" class="btn btn-success">Back</a>
        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->
</section>