﻿@model IEnumerable<Entities.Models.Request>
<section class="content-header">
    <h1>
        Requests
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Requests</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Manage Requests</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Pickup Latitude</th>
                                <th>Pickup Longitude</th>
                                <th>Estimated Cost</th>
                                <th>Estimated Distance</th>
                                <th>Total Cost</th>
                                <th>Total Distance </th>
                                <th>Rating</th>
                                <th>Status</th>
                                <th>Request by</th>
                                <th>Ride Id</th>
                                <th>Created At</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.PickupLatitude)</td>
                                <td>@Html.DisplayFor(modelItem => item.PickupLongitude)</td>
                                <td>@Html.DisplayFor(modelItem => item.EstimatedCost)</td>
                                <td>@Html.DisplayFor(modelItem => item.TotalDistance)</td>
                                <td>@Html.DisplayFor(modelItem => item.FinalTotalCost)</td>
                                <td>@Html.DisplayFor(modelItem => item.FinalTotalDistance)</td>
                                <td>@Html.DisplayFor(modelItem => item.Rating)</td>
                                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                                <td><a href="/Rides/Details/@item.RideId">@Html.DisplayFor(modelItem => item.RideId)</a></td>
                                <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                                <td>
                                    <a class="btn btn-success btn-sm" href="Requests/Details/@item.Id" data-toggle="tooltip" title="View Request">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    
                                    | <a href="" class="btn btn-danger" onclick="Delete('@item.Id')" data-toggle="tooltip" title="Delete request"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            }
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


@section Scripts{

    <!-- DataTables -->
    <script src="~/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- page script -->
    <script>
    $(function () {
        $('#example1').DataTable({"scrollX": true});
    });
    function Delete(id){
        var txt;
        var r = confirm("Are you sure you want to Delete?");
        if (r == true) {

            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Delete", "Requests")',
                data: {
                    id: id
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        var baseUrl="/Requests";
                        window.location.reload();
                    }
                    else {
                        alert("There is a problem, Try Later!");
                    }
                }
            });
        }
    }
    </script>
}