﻿@model RequestRideExtended
<section class="content-header">
    <h1>
        Rides
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Ride's Details</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="/Mountains/UpdateMountain">
            <div class="box-body">
                <div class="form-group">
                    <label asp-for="Id" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Id" class="form-control" value="@Model.Id" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Driver Name</label>
                    <div class="col-sm-10">
                        <a href="/Users/Details/@Model.vehicle.User.Id" class="form-control" data-toggle="tooltip" title="Click here for details">@Model.vehicle.User.FirstName @Model.vehicle.User.LastName </a>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="RideStartTime" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input class="form-control" value="@Model.RideStartTime" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DestinationLatitude" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="DestinationLatitude" class="form-control" value="@Model.DestinationLatitude" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DestinationLongitude" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="DestinationLongitude" class="form-control" value="@Model.DestinationLongitude" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DestinationLongitude" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="DestinationLongitude" class="form-control" value="@Model.DestinationLongitude" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="SeatAvailable" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="SeatAvailable" class="form-control" value="@Model.SeatAvailable" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="TotalCost" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="TotalCost" class="form-control" value="@Model.TotalCost" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="TotalDistance" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="TotalDistance" class="form-control" value="@Model.TotalDistance" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="FinalTotalCost" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="FinalTotalCost" class="form-control" value="@Model.FinalTotalCost" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Status" class="form-control" value="@Model.Status" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedAt" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input class="form-control" value="@Model.CreatedAt" readonly>
                    </div>
                </div>
                @*<div class="form-group">
            <label asp-for="VehicleId" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input class="form-control" value="@Model.VehicleId" readonly>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EventId" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input class="form-control" value="@Model.EventId" readonly>
            </div>
        </div>*@
                <input type="hidden" name="Id" value="@Model.Id" />
            </div>
            <!-- /.box-body -->

        </form>
        <div class="box-footer">
            <a type="button" onclick="history.go(-1)" class="btn btn-success">Back</a>
        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->
</section>
<section class="content container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Vehicle's Details</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" method="post" action="/Mountains/UpdateMountain">
                    <div class="box-body">
                        <div class="form-group">
                            <label asp-for="vehicle.Id" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="vehicle.Id" class="form-control" value="@Model.vehicle.Id" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="vehicle.Name" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input class="form-control" value="@Model.vehicle.Name" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="vehicle.Brand" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="vehicle.Brand" class="form-control" value="@Model.vehicle.Brand" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="vehicle.MakeYear" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="vehicle.MakeYear" class="form-control" value="@Model.vehicle.MakeYear" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="vehicle.Color" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="vehicle.Color" class="form-control" value="@Model.vehicle.Color" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="vehicle.PlateNumber" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="vehicle.PlateNumber" class="form-control" value="@Model.vehicle.PlateNumber" readonly>
                            </div>
                        </div>
                      
                        <input type="hidden" name="Id" value="@Model.Id" />
                    </div>
                    <!-- /.box-body -->

                </form>
                <div class="box-footer">
                    <a type="button" onclick="history.go(-1)" class="btn btn-success">Back</a>
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <div class="col-xs-8">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Request List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Pickup Latitude</th>
                                <th>Pickup Longitude</th>
                                <th>Estimated Cost</th>
                                <th>Total Distance</th>
                                <th>Final Total Cost</th>
                                <th>Final Total Distance</th>
                                <th>Rating</th>
                                <th>Status</th>
                                <th>Rider Name</th>
                                <th>Created At</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Requests)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PickupLatitude)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PickupLongitude)</td>
                                    <td>RM @Html.DisplayFor(modelItem => item.EstimatedCost)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TotalDistance) KM</td>
                                    <td>RM @Html.DisplayFor(modelItem => item.FinalTotalCost)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FinalTotalDistance) KM</td>
                                    <td>@Html.DisplayFor(modelItem => item.Rating)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                    <td><a href="/Users/Details/@item.User.Id">@Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)</a></td>
                                    <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                                    <td>
                                        <a class="btn btn-success btn-sm" href="/Requests/Details/@item.Id" data-toggle="tooltip" title="View Rides">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
@*<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Request List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Pickup Latitude</th>
                                <th>Pickup Longitude</th>
                                <th>Estimated Cost</th>
                                <th>Total Distance</th>
                                <th>Final Total Cost</th>
                                <th>Final Total Distance</th>
                                <th>Rating</th>
                                <th>Status</th>
                                <th>Rider Name</th>
                                <th>Created At</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Requests)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PickupLatitude)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PickupLongitude)</td>
                                    <td>RM @Html.DisplayFor(modelItem => item.EstimatedCost)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TotalDistance) KM</td>
                                    <td>RM @Html.DisplayFor(modelItem => item.FinalTotalCost)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FinalTotalDistance) KM</td>
                                    <td>@Html.DisplayFor(modelItem => item.Rating)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                    <td><a href="/Users/Details/@item.User.Id">@Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)</a></td>
                                    <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                                    <td>
                                        <a class="btn btn-success btn-sm" href="/Requests/Details/@item.Id" data-toggle="tooltip" title="View Rides">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>*@

@section Scripts{

    <!-- DataTables -->
    <script src="~/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- page script -->
    <script>
    $(function () {
        $('#example1').DataTable({ "scrollX": true });
    });
    function Delete(id){
        var txt;
        var r = confirm("Are you sure you want to Delete?");
        if (r == true) {

            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Delete", "Mountains")',
                data: {
                    id: id
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        var baseUrl="/Mountains";
                        window.location.reload();
                    }
                    else {
                        alert("There is a problem, Try Later!");
                    }
                }
            });
        }
    }
    </script>
}