﻿@model IEnumerable<Entities.Models.Ride>
<section class="content-header">
    <h1>
        Rides
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Rides</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Manage Rides</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Ride Date</th>
                                <th>Destination Latitude</th>
                                <th>Destination Longitude</th>
                                <th>Seat Available</th>
                                <th>Total Cost</th>
                                <th>Total Distance</th>
                                <th>Final Total Cost</th>
                                <th>Status</th>
                                <th>Vehicle Id</th>
                                <th>Event Id</th>
                                <th>Created At</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.RideStartTime)</td>
                                <td>@Html.DisplayFor(modelItem => item.DestinationLatitude)</td>
                                <td>@Html.DisplayFor(modelItem => item.DestinationLongitude)</td>
                                <td>@Html.DisplayFor(modelItem => item.SeatAvailable)</td>
                                <td>RM @Html.DisplayFor(modelItem => item.TotalCost)</td>
                                <td>@Html.DisplayFor(modelItem => item.TotalDistance)KM</td>
                                <td>RM @Html.DisplayFor(modelItem => item.FinalTotalCost)</td>
                                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                <td><a href="Vehicles/Details/@item.VehicleId">@Html.DisplayFor(modelItem => item.VehicleId)</a></td>
                                <td><a href="Events/Details/@item.EventId">@Html.DisplayFor(modelItem => item.EventId)</a></td>
                                <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                                <td>
                                    <a class="btn btn-success btn-sm" href="Rides/Details/@item.Id" data-toggle="tooltip" title="View Rides">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    | <a href="" class="btn btn-danger" onclick="Delete('@item.Id')" data-toggle="tooltip" title="Delete Rides"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            }
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


@section Scripts{

    <!-- DataTables -->
    <script src="~/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- page script -->
    <script>
    $(function () {
        $('#example1').DataTable({ "scrollX": true });
    });
    function Delete(id){
        var txt;
        var r = confirm("Are you sure you want to Delete?");
        if (r == true) {

            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Delete", "Rides")',
                data: {
                    id: id
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        var baseUrl="/Rides";
                        window.location.reload();
                    }
                    else {
                        alert("There is a problem, Try Later!");
                    }
                }
            });
        }
    }
    </script>
}