﻿<!-- Content Header (Page header) -->
@model CreateMountainViewModel
<section class="content-header">
    <h1>
        Mountains
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Add Mountain</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="CreateMountain">
            <div class="box-body">
                <div class="form-group">
                    <label asp-for="Name" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="HeightFeet" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="HeightFeet" type="text" class="form-control">
                        <span asp-validation-for="HeightFeet" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="HeightMeter" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="HeightMeter"  class="form-control">
                        <span asp-validation-for="HeightMeter" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DestinationLatitude" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="DestinationLatitude"  class="form-control">
                        <span asp-validation-for="DestinationLatitude" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DestinationLongitude" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="DestinationLongitude" class="form-control">
                        <span asp-validation-for="DestinationLongitude" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">State</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="State" id="State" required>
                            <option value="">Please Select</option>
                            <option value="Johor">Johor</option>
                            <option value="Kedah">Kedah</option>
                            <option value="Kelantan">Kelantan</option>
                            <option value="Melaka">Melaka</option>
                            <option value="Negeri Sembilan">Negeri Sembilan</option>
                            <option value="Pahang">Pahang </option>
                            <option value="Pulau Pinang">Pulau Pinang</option>
                            <option value="Perak">Perak</option>
                            <option value="Perlis">Perlis</option>
                            <option value="Selangor">Selangor</option>
                            <option value="Terengganu">Terengganu</option>
                            <option value="Sabah">Sabah</option>
                            <option value="Sarawak">Sarawak</option>
                            <option value="Wilayah Persekutuan Kuala Lumpur">Wilayah Persekutuan Kuala Lumpur</option>
                            <option value="Wilayah Persekutuan Kuala Labuan">Wilayah Persekutuan Kuala Labuan</option>
                            <option value="Wilayah Persekutuan Kuala Putrajaya">Wilayah Persekutuan Kuala Putrajaya</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a type="button" onclick="history.go(-1)" class="btn btn-success">Back</a>
                <button type="submit" class="btn btn-info pull-right">Create</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>