﻿@model Mountain
<section class="content-header">
    <h1>
        Mountains
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Mountain's Details</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="/Mountains/UpdateMountain">
            <div class="box-body">
                <div class="form-group">
                    <label asp-for="Id" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Id" class="form-control" value="@Model.Id" readonly>

                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Name" class="form-control" value="@Model.Name" readonly>

                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AverageRating" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="AverageDifficulty" class="form-control" value="@Model.AverageDifficulty" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AverageRating" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="AverageRating" class="form-control" value="@Model.AverageRating" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DestinationLatitude" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="DestinationLatitude" class="form-control" value="@Model.DestinationLatitude" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DestinationLongitude" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="DestinationLongitude" class="form-control" value="@Model.DestinationLongitude" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="HeightFeet" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="HeightFeet" class="form-control" value="@Model.HeightFeet" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="HeightMeter" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="HeightMeter" class="form-control" value="@Model.HeightMeter" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="State" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="State" class="form-control" value="@Model.State" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Status" class="form-control" value="@Model.Status" readonly>
                    </div>
                </div>
                <input type="hidden" name="Id" value="@Model.Id" />
            </div>
            <!-- /.box-body -->
        </form>
        <div class="box-footer">
            <a type="button" onclick="history.go(-1)" class="btn btn-success">Back</a>
        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Reviews</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Mountain Id</th>
                                <th>Rating</th>
                                <th>Difficulty</th>
                                <th>Description</th>
                                <th>User Id</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.MountainReviews)
                            {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td><a href="/Mountains/Details/@Model.Id">@Html.DisplayFor(modelItem => item.MountainId)</a></td>
                                <td>@Html.DisplayFor(modelItem => item.MountainRating) <i class="fa fa-star" style="color:#FFA500;"></i></td>
                                <td>@Html.DisplayFor(modelItem => item.MountainDifficulty) <i class="fa fa-star" style="color:#FFA500;"></i></td>
                                <td>@Html.DisplayFor(modelItem => item.ReviewDescription)</td>
                                <td><a href="/Users/Details/@item.UserId">@Html.DisplayFor(modelItem => item.UserId)</a></td>
                                <td>@Html.DisplayFor(modelItem => item.ReviewDate)</td>
                                <td>
                                    <a href="" class="btn btn-danger" onclick="Delete('@item.Id')" data-toggle="tooltip" title="Delete reviews"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            }
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@section Scripts{

    <!-- DataTables -->
    <script src="~/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- page script -->
    <script>
    $(function () {
        $('#example1').DataTable(
        {"scrollX": true}
        );
    });
    function Delete(id){
        var txt;
        var r = confirm("Are you sure you want to Delete?");
        if (r == true) {

            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Delete", "MountainReviews")',
                data: {
                    id: id
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        var baseUrl="/MountainReviews";
                        window.location.reload();
                    }
                    else {
                        alert("There is a problem, Try Later!");
                    }
                }
            });
        }
    }
    </script>
}