﻿@model IEnumerable<Entities.Models.Mountain>
<section class="content-header">
    <h1>
        Events
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Mountains</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Manage Mountains</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Height Feet</th>
                                <th>Height Meter</th>
                                <th>Average Difficulty</th>
                                <th>Average Rating</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                                <th>State</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.HeightFeet)</td>
                                <td>@Html.DisplayFor(modelItem => item.HeightMeter)</td>
                                <td>@Html.DisplayFor(modelItem => item.AverageDifficulty) <i class="fa fa-star" style="color:#FFA500;"></td>
                                <td>@Html.DisplayFor(modelItem => item.AverageRating) <i class="fa fa-star" style="color:#FFA500;"></td>
                                <td>@Html.DisplayFor(modelItem => item.DestinationLatitude)</td>
                                <td>@Html.DisplayFor(modelItem => item.DestinationLongitude)</td>
                                <td>@Html.DisplayFor(modelItem => item.State)</td>
                                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                <td>
                                    <a class="btn btn-success btn-sm" href="/Mountains/Details/@item.Id" data-toggle="tooltip" title="View Mountain">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    |
                                    <a class="btn btn-success btn-sm" href="/Mountains/ApproveMountain/@item.Id" data-toggle="tooltip" title="Approve Mountain">
                                        <i class="fa fa-check"></i>
                                    </a>
                                    |
                                    <a class="btn btn-warning btn-sm" href="/Mountains/RejectMountain/@item.Id" data-toggle="tooltip" title="Reject Mountain">
                                        <i class="fa fa-close"></i>
                                    </a>
                                    |
                                    <a class="btn btn-primary btn-sm" href="/Mountains/Update/@item.Id" data-toggle="tooltip" title="Update mountain">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    | <a href="" class="btn btn-danger" onclick="Delete('@item.Id')" data-toggle="tooltip" title="Delete mountain"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            }
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


@section Scripts{

    <!-- DataTables -->
    <script src="~/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- page script -->
    <script>
    $(function () {
        $('#example1').DataTable(
        {"scrollX": true}
        );
    });
    function Delete(id){
        var txt;
        var r = confirm("Are you sure you want to Delete?");
        if (r == true) {

            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Delete", "Mountains")',
                data: {
                    id: id
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        var baseUrl="/Mountains";
                        window.location.reload();
                    }
                    else {
                        alert("There is a problem, Try Later!");
                    }
                }
            });
        }
    }
    </script>
}