﻿<!-- Content Header (Page header) -->
@model CreateUserViewModel
<section class="content-header">
    <h1>
        Users
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Add User</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="CreateUser">
            <div class="box-body">
                <div class="form-group">
                    <label asp-for="UserName" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="UserName" class="form-control">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="FirstName" class="form-control">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="LastName" class="form-control">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="PhoneNumber" class="form-control">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="IdentityNumber" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="IdentityNumber" class="form-control">
                        <span asp-validation-for="IdentityNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Address1" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Address1" class="form-control">
                        <span asp-validation-for="Address1" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Address2" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Address2" class="form-control">
                        <span asp-validation-for="Address2" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PostalCode" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="PostalCode" class="form-control">
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="ConfirmPassword" class="form-control">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">State</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="Role" id="Role" required>
                            <option value="">Please Select</option>
                            <option value="Admin">Admin</option>
                            <option value="User">User</option>
                        </select>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a type="button" onclick="history.go(-1)" class="btn btn-success">Back</a>
                <button type="submit" class="btn btn-info pull-right">Create</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>