﻿@model UserExtended
<section class="content-header">
    <h1>
        Users
    </h1>
</section>
<!-- Main content -->
<style>
    * {
        box-sizing: border-box;
    }

    .img-zoom-container {
        position: relative;
    }

    .img-zoom-lens {
        position: absolute;
        border: 1px solid #4cff00;
        /*set the size of the lens:*/
        width: 100px;
        height: 100px;
    }

    .img-zoom-result {
        border: 1px solid #d4d4d4;
        /*set the size of the result div:*/
        width: 400px;
        height: 200px;
    }
    .img-zoom-result-selfie {
        border: 1px solid #d4d4d4;
        /*set the size of the result div:*/
        width: 200px;
        height: 200px;
    }
</style>

<section class="content container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="box">
                <div class="box-body">
                    <h5 class="box-title">Ic Front Image</h5>
                    <div class="img-zoom-container">
                        <img id="icFrontImage" onerror="this.src='/android/images/users/default_ic.jpg';" src="~/android/images/users/@Model.Id/ic/@Model.UserIcFrontImageUrl" height="200px" width="400px" class="" alt="Ic Front">
                    </div>
                    <h5 class="box-title">Ic Front Zoom</h5>
                    <div id="resultIcFront" class="img-zoom-result"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="box">
                <div class="box-body">
                    <h5 class="box-title">Ic Back Image</h5>
                    <div class="img-zoom-container">
                        <img id="icBackImage" onerror="this.src='/android/images/users/default_ic.jpg';" src="~/android/images/users/@Model.Id/ic/@Model.UserIcBackImageUrl" height="200px" width="400px" class="" alt="...">
                    </div>
                    <h5 class="box-title">Ic Back Zoom</h5>
                    <div id="resultIcBack" class="img-zoom-result"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="box">
                <div class="box-body">
                    <h5 class="box-title">Selfie Image</h5>
                    <div class="img-zoom-container">
                        <img id="selfieImage" onerror="this.src='/android/images/users/default_selfie.png';" src="~/android/images/users/@Model.Id/selfie/@Model.UserSelfieImageUrl" height="200px" width="200px" class="img-fluid" alt="...">
                    </div>
                    <h5 class="box-title">Selfie Zoom</h5>
                    <div id="resultSelfie" class="img-zoom-result-selfie"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">User's Details</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="/Users/UpdateUser">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Id</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="UserName" placeholder="Username" value="@Model.Id" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="UserName" placeholder="Username" value="@Model.UserName" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="FirstName" placeholder="First Name" value="@Model.FirstName" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="LastName" value="@Model.LastName" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">No IC</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="IdentityNumber" value="@Model.IdentityNumber" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Phone Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="PhoneNumber" value="@Model.PhoneNumber" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Address 1</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Address1" placeholder="Address 1" value="@Model.Address1" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Address 2</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Address2" placeholder="Address 2" value="@Model.Address2" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Postal Code</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="PostalCode" placeholder="Postal Code" value="@Model.PostalCode" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Email" placeholder="Email" value="@Model.Email" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Driver License Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="DriverLicenseNumber" placeholder="Driver License Number" value="@Model.DriverLicenseNumber" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Driver License Expired Date</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="DriverLicenseExpiredDate" placeholder="Driver License ExpiredDate" value="@Model.DriverLicenseExpiredDate" readonly>
                    </div>
                </div>
                <input type="hidden" name="Id" value="@Model.Id" />
            </div>
            <!-- /.box-body -->
        </form>
        <div class="box-footer">
            <a type="button" onclick="history.go(-1)" class="btn btn-success">Back</a>
        </div>

        <!-- /.box-footer -->
    </div>
    <!-- /.box -->
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Organized Events</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Location</th>
                                <th>State</th>
                                <th>Organizer Name</th>
                                <th>Organizer Registration Number</th>
                                <th>Description</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                                <th>Mountain Name</th>
                                <th>User Id</th>
                                @*<th>Mountain Id</th>*@
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Events)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Location)</td>
                                    <td>@Html.DisplayFor(modelItem => item.State)</td>
                                    <td>@Html.DisplayFor(modelItem => item.OrganizerName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.OrganizerRegistrationNumber)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                    <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                    <td><a href="/Mountains/Update/@item.Mountain.Id">@Html.DisplayFor(modelItem => item.Mountain.Name)</a></td>
                                    <td><a href="/Users/Details/@item.UserId">@Html.DisplayFor(modelItem => item.UserId)</a></td>
                                    @*<td>@Html.DisplayFor(modelItem => item.MountainId)</td>*@
                                    <td>
                                        <a class="btn btn-success btn-sm" href="/Events/Details/@item.Id" data-toggle="tooltip" title="View Events">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Request List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Pickup Latitude</th>
                                <th>Pickup Longitude</th>
                                <th>Estimated Cost</th>
                                <th>Total Distance</th>
                                <th>Final Total Cost</th>
                                <th>Final Total Distance</th>
                                <th>Rating</th>
                                <th>Status</th>
                                <th>Created At</th>
                                <th>Ride Id</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Requests)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PickupLatitude)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PickupLongitude)</td>
                                    <td>RM @Html.DisplayFor(modelItem => item.EstimatedCost)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TotalDistance) KM</td>
                                    <td>RM @Html.DisplayFor(modelItem => item.FinalTotalCost)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FinalTotalDistance) KM</td>
                                    <td>@Html.DisplayFor(modelItem => item.Rating)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                                    <td><a href="/Rides/Details/@item.RideId">@Html.DisplayFor(modelItem => item.RideId)</a></td>
                                    <td>
                                        <a class="btn btn-success btn-sm" href="/Requests/Details/@item.Id" data-toggle="tooltip" title="View Request">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Ride List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example3" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Ride Start Time</th>
                                <th>Destination Latitude</th>
                                <th>Destination Longitude</th>
                                <th>Event Name</th>
                                <th>Total Distance</th>
                                <th>Total Cost</th>
                                <th>Seat Available</th>
                                <th>Status</th>
                                <th>Created At</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Rides)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.RideStartTime)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DestinationLatitude)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DestinationLongitude)</td>
                                    <td><a href="/Events/Details/@item.Event.Id">@Html.DisplayFor(modelItem => item.Event.Name)</a></td>
                                    <td>@Html.DisplayFor(modelItem => item.TotalDistance) KM</td>
                                    <td>RM @Html.DisplayFor(modelItem => item.TotalCost)</td>
                                    <td>@Html.DisplayFor(modelItem => item.SeatAvailable)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                                    <td>
                                        <a class="btn btn-success btn-sm" href="/Rides/Details/@item.Id" data-toggle="tooltip" title="View Rides">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-6">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Vehicle List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example4" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Color</th>
                                <th>Make Year</th>
                                <th>Plate Number</th>
                                <th>Brand</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Vehicles)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Color)</td>
                                    <td>@Html.DisplayFor(modelItem => item.MakeYear)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PlateNumber)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Brand)</td>

                                </tr>
                            }
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <div class="col-xs-6">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Event Joined List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example5" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Event Name</th>
                                <th>Is Offer Ride</th>
                                <th>Is Request Ride</th>
                                <th>Max Attempt</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.UserEvents)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td><a href="/Events/Details/@item.Event.Id">@Html.DisplayFor(modelItem => item.Event.Name)</a></td>
                                    <td>@Html.DisplayFor(modelItem => item.IsOfferRide)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IsRequestRide)</td>
                                    <td>@Html.DisplayFor(modelItem => item.MaxAttempt)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Status)</td>

                                </tr>
                            }
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Reviews</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example6" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Mountain Id</th>
                                <th>Rating</th>
                                <th>Difficulty</th>
                                <th>Description</th>
                                <th>User Id</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.MountainReviews)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td><a href="/Mountains/Details/@Model.Id">@Html.DisplayFor(modelItem => item.MountainId)</a></td>
                                    <td>@Html.DisplayFor(modelItem => item.MountainRating) <i class="fa fa-star" style="color:#FFA500;"></i></td>
                                    <td>@Html.DisplayFor(modelItem => item.MountainDifficulty) <i class="fa fa-star" style="color:#FFA500;"></i></td>
                                    <td>@Html.DisplayFor(modelItem => item.ReviewDescription)</td>
                                    <td><a href="/Users/Details/@item.UserId">@Html.DisplayFor(modelItem => item.UserId)</a></td>
                                    <td>@Html.DisplayFor(modelItem => item.ReviewDate)</td>
                                    <td>
                                        <a href="" class="btn btn-danger" onclick="Delete('@item.Id')" data-toggle="tooltip" title="Delete reviews"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            }
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
@section Scripts{

    <!-- DataTables -->
    <script src="~/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- page script -->
    <script>
    $(function () {
        $('#example1').DataTable({ "scrollX": true });
        $('#example2').DataTable({ "scrollX": true });
        $('#example3').DataTable({ "scrollX": true });
        $('#example4').DataTable({ "scrollX": true });
        $('#example5').DataTable({ "scrollX": true });
        $('#example6').DataTable({ "scrollX": true });
        });

    function Delete(id){
        var txt;
        var r = confirm("Are you sure you want to Delete?");
        if (r == true) {

            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Delete", "Mountains")',
                data: {
                    id: id
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        var baseUrl="/Mountains";
                        window.location.reload();
                    }
                    else {
                        alert("There is a problem, Try Later!");
                    }
                }
            });
        }
        }
        function imageZoom(imgID, resultID) {
            var img, lens, result, cx, cy;
            img = document.getElementById(imgID);
            result = document.getElementById(resultID);
            /* Create lens: */
            lens = document.createElement("DIV");
            lens.setAttribute("class", "img-zoom-lens");
            /* Insert lens: */
            img.parentElement.insertBefore(lens, img);
            /* Calculate the ratio between result DIV and lens: */
            cx = result.offsetWidth / lens.offsetWidth;
            cy = result.offsetHeight / lens.offsetHeight;
            /* Set background properties for the result DIV */
            result.style.backgroundImage = "url('" + img.src + "')";
            result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
            /* Execute a function when someone moves the cursor over the image, or the lens: */
            lens.addEventListener("mousemove", moveLens);
            img.addEventListener("mousemove", moveLens);
            /* And also for touch screens: */
            lens.addEventListener("touchmove", moveLens);
            img.addEventListener("touchmove", moveLens);
            function moveLens(e) {
                var pos, x, y;
                /* Prevent any other actions that may occur when moving over the image */
                e.preventDefault();
                /* Get the cursor's x and y positions: */
                pos = getCursorPos(e);
                /* Calculate the position of the lens: */
                x = pos.x - (lens.offsetWidth / 2);
                y = pos.y - (lens.offsetHeight / 2);
                /* Prevent the lens from being positioned outside the image: */
                if (x > img.width - lens.offsetWidth) { x = img.width - lens.offsetWidth; }
                if (x < 0) { x = 0; }
                if (y > img.height - lens.offsetHeight) { y = img.height - lens.offsetHeight; }
                if (y < 0) { y = 0; }
                /* Set the position of the lens: */
                lens.style.left = x + "px";
                lens.style.top = y + "px";
                /* Display what the lens "sees": */
                result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
            }
            function getCursorPos(e) {
                var a, x = 0, y = 0;
                e = e || window.event;
                /* Get the x and y positions of the image: */
                a = img.getBoundingClientRect();
                /* Calculate the cursor's x and y coordinates, relative to the image: */
                x = e.pageX - a.left;
                y = e.pageY - a.top;
                /* Consider any page scrolling: */
                x = x - window.pageXOffset;
                y = y - window.pageYOffset;
                return { x: x, y: y };
            }
        }
        imageZoom("icBackImage", "resultIcBack");
        imageZoom("icFrontImage", "resultIcFront");
        imageZoom("selfieImage", "resultSelfie");
    </script>
}