﻿@model IEnumerable<Entities.Models.User>
@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
    <div class="alert alert-danger">
       <strong>Error!</strong> @ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}
<section class="content-header">
    <h1>
        Users
    </h1>
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Users</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    @*<div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header">
                    Legend
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Status</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">0</th>
                                <td>Unverified</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Verification Pending</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Blocked</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Rejected</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Success/Verified</td>
                            </tr>
                        </tbody>
                    </table>  
                </div>
            </div>
        </div>
    </div>*@
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Manage Users</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                @*<th>Id</th>*@
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>NO IC</th>
                                <th>Phone Number</th>
                                <th>Address 1</th>
                                <th>Address 2</th>
                                <th>Postal Code</th>
                                <th>Email</th>
                                @*<th>Status</th>*@
                                <th>Driver License</th>
                                <th>Driver License Expired Date</th>
                                <th>Status</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                @*<td>@Html.DisplayFor(modelItem => item.Id)</td>*@
                                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                                <td>@Html.DisplayFor(modelItem => item.IdentityNumber)</td>
                                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                <td>@Html.DisplayFor(modelItem => item.Address1)</td>
                                <td>@Html.DisplayFor(modelItem => item.Address2)</td>
                                <td>@Html.DisplayFor(modelItem => item.PostalCode)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                @*<td>@Html.DisplayFor(modelItem => item.Status)</td>*@
                                <td>@Html.DisplayFor(modelItem => item.DriverLicenseNumber)</td>
                                <td>@Html.DisplayFor(modelItem => item.DriverLicenseExpiredDate)</td>
                                @{
                                    switch (item.Status)
                                    {
                                        case 0:
                                            // Use the text block below to separate html elements from code
                                            <text>
                                                <td>Unverified</td>
                                            </text>
                                            break;  // Always break each case
                                        case 1:
                                            <td>Verification Pending</td>
                                            break;
                                        case 2:
                                            <td>Blocked</td>
                                            break;
                                        case 3:
                                            <td>Rejected</td>
                                            break;
                                        case 4:
                                            <td>Success/Verified</td>
                                            break;
                                        default:
                                            <td></td>
                                            break;
                                    }
                                }

                                <td>@Html.DisplayFor(modelItem => item.Role)</td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="/Users/Update/@item.Id" data-toggle="tooltip" title="Edit user">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    |
                                    <a class="btn btn-info btn-sm" href="/Users/Details/@item.Id" data-toggle="tooltip" title="View user">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    |
                                    <a class="btn btn-success btn-sm" href="/Users/ApproveUser/@item.Id" data-toggle="tooltip" title="Approve user">
                                        <i class="fa fa-check"></i>
                                    </a>
                                    |
                                    <a class="btn btn-warning btn-sm" href="/Users/RejectUser/@item.Id" data-toggle="tooltip" title="Reject user">
                                        <i class="fa fa-close"></i>
                                    </a>
                                    |
                                    <a class="btn btn-success btn-sm" href="/Users/ResetVerificationUser/@item.Id" data-toggle="tooltip" title="Reset verification">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                    | <a href="" class="btn-sm btn btn-danger" data-toggle="tooltip" title="Delete user" onclick="Delete('@item.Id')"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            }
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


@section Scripts{

    <!-- DataTables -->
    <script src="~/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- page script -->
    <script type="text/javascript">
        @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
        {
            <text>
            $(document).ready(function() {
                alert('@ViewData.ModelState["Error"].Errors.First().ErrorMessage');
            });
            </text>
        }
    </script>
    <script>
        $(function () {

            $('#example1').DataTable({ "scrollX": true });
    });
    function Delete(id){
        var txt;
        var r = confirm("Are you sure you want to Delete?");
        if (r == true) {

            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Delete", "Users")',
                data: {
                    id: id
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        var baseUrl="/Users";
                        window.location.reload();
                    }
                    else {
                        alert("There is a problem, Try Later!");
                    }
                }
            });
        }
    }
    </script>
}