﻿@model User
<section class="content-header">
    <h1>
        Users
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Update User</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="/Users/UpdateUser">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="UserName" placeholder="Username" value="@Model.UserName" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="FirstName" placeholder="First Name" value="@Model.FirstName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="LastName" value="@Model.LastName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">No IC</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="IdentityNumber" value="@Model.IdentityNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Phone Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="PhoneNumber" value="@Model.PhoneNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Address 1</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Address1" placeholder="Address 1" value="@Model.Address1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Address 2</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Address2" placeholder="Address 2" value="@Model.Address2">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Postal Code</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="PostalCode" placeholder="Postal Code" value="@Model.PostalCode">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Email" placeholder="Email" value="@Model.Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Driver License Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="DriverLicenseNumber" placeholder="Driver License Number" value="@Model.DriverLicenseNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Driver License Expired Date</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="DriverLicenseExpiredDate" placeholder="Driver License ExpiredDate" value="@Model.DriverLicenseExpiredDate">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Role</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="Role" id="Role" required>
                            <option value="">Please Select</option>
                            <option value="User">User</option>
                            <option value="Admin">Admin</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="Id" value="@Model.Id" />
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a type="button" onclick="history.go(-1)" class="btn btn-success">Back</a>
                <button type="submit" class="btn btn-info pull-right">Update</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>