﻿@model IEnumerable<Entities.Models.MountainReview>
<section class="content-header">
    <h1>
        Mountain Reviews
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Mountains</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Manage Reviews</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Mountain Id</th>
                                <th>Rating</th>
                                <th>Difficulty</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th>User Id</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td><a href="/Mountains/Details/@item.MountainId">@Html.DisplayFor(modelItem => item.MountainId)</a></td>
                                <td>@Html.DisplayFor(modelItem => item.MountainRating) <i class="fa fa-star" style="color:#FFA500;"></i></td>
                                <td>@Html.DisplayFor(modelItem => item.MountainDifficulty) <i class="fa fa-star" style="color:#FFA500;"></i></td>
                                <td>@Html.DisplayFor(modelItem => item.ReviewDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.ReviewDescription)</td>
                                <td><a href="/Users/Details/@item.UserId">@Html.DisplayFor(modelItem => item.UserId)</a></td>
                                <td>
                                    <a href="" class="btn btn-danger" onclick="Delete('@item.Id')" data-toggle="tooltip" title="Delete reviews"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            }
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


@section Scripts{

    <!-- DataTables -->
    <script src="~/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- page script -->
    <script>
    $(function () {
        $('#example1').DataTable(
        {"scrollX": true}
        );
    });
    function Delete(id){
        var txt;
        var r = confirm("Are you sure you want to Delete?");
        if (r == true) {

            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Delete", "MountainReviews")',
                data: {
                    id: id
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        var baseUrl="/MountainReviews";
                        window.location.reload();
                    }
                    else {
                        alert("There is a problem, Try Later!");
                    }
                }
            });
        }
    }
    </script>
}